:root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --paragraph-text-color: #757575;
  --primery-bg-color: #ffffff;
}

body {
  background-color: #ffffff;
  color: #212121;
}

.list {
  list-style: none;
}
.logo style {
  font-style: none;
}
/*осн колір фону #FFFFFF;*/
/*вторинний колір фону #F5F4FA;*/
/* осн колір тексту #212121; 
*/
/* колір фокус #2196F3;*/
/*хіро заголовок  #FFFFFF;
*/
/*заголовки секцій  #212121;
*/
/* абзаци текст #757575;
 */

.logo .logo-web {
  color: var(--accent-color);
}
.site-nav .link {
  color: var(--paragraph-text-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.address .add-list {
  color: var(--paragraph-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.address .add-list:hover,
.address .add-list:focus {
  color: var(--accent-color);
}
.section-title {
  color: var(--primary-text-color);
}

/* body */
/* header*/
/*section hero*/

/*портфоліо кнопки*/
.btn {
  color: var(--primery-bg-color);
  background-color: var(--accent-color);
  font-size: 16px;
  display: flex;
  border-color: transparent;
}

.button.primery {
  color: var(--primery-bg-color);
  background-color: var(--accent-color);
  border-color: transparent;
}
.button.secondary {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border-color: transparent;
}
